<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{{> navbar}}
<body>
    <h1>Update Blog</h1>
    <form action="/updateblog" method="post">
        <label for="">name:-</label>
        <input type="text" name="name" id="name" value="{{updateblog.name}}"><br>

        <label for="Class">Class:-</label>
        <input type="text" name="Class" id="Class" value="{{updateblog.Class}}"><br>

        <label for="blog">blog:-</label>
        <textarea name="blog" id="blog" cols="30" rows="10">{{updateblog.blog}}</textarea>
       
       <input type="hidden" name="blogId" value="{{updateblog.blogId}}">
        <button>submit</button>
    </form>
</body>

</html>