<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="blogpage.css">
    <title>BlogPage</title>
</head>
{{> navbar}}
<body>
    <h1>BlogPage</h1>
  {{#each blogarr}}
  <ul class="blog">
    <li>{{this.author}}</li>
    <li>{{this.cateogry}}</li>
    <li>{{this.blog}}</li>
</ul>
  {{/each}}
</body>
</html>