<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
{{> navbar}}
<body>
    <h1>Random HBS file</h1>
    <ul>
        <li>{{firstname}}</li>
        <li>{{lastname}}</li>
    </ul>
</body>
</html>