<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPage</title>
</head>
<body>
    <h1>Blogpage</h1>
   <form action="/addblog" method="post">
   <label for="author">Author:-</label>
   <input type="text" name="author" id="author"><br>

   <label for="category">category</label>
   <input type="text" name="category" id="category"><br>

   <label for="blog">blog</label>
   <textarea name="blog" id="blog" cols="30" rows="10"></textarea><br>

   <button type="submit">Submit</button>
   </form>

</body>
</html>