<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Array</title>
</head>

<body>
    {{#each namearr}}
    <ul class="people_list">
        <li>{{this}}</li>
    </ul>
    {{/each}}
</body>

</html>