<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>Random HBS template</h1>
   <p>First Name:-</p> {{firstName}}
   <p>LastName:-</p> {{LastName}}
</body>
</html>