{{>navbar}}
<div>
    <div class="card" style="width: 18rem;">
        <img src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h5 class="card-title">{{product.price}}</h5>
            <p class="card-text">{{product.desc}}</p>
            {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </div>
    </div>
</div>