<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>This is Profile Page</h1>
    <p>{{name}}</p>
    <p>{{Lastname}}</p>
</body>
</html>